:root {
  --spacing-medium: 8px;
  --spacing-regular: 16px;
  --font-sm: 0.5rem;
  --font-rg: 1rem;
  --font-lg: 2rem;
  --font-xl: 4rem;
  --font-semibold: bold;
  --font-bold: bolder;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: consolas, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 400px;
  display: grid;
  place-items: center;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0 --spacing-medium;
  align-items: center;
  justify-content: space-evenly;
}
nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-regular);
}
nav .menu header h1 {
  font-weight: var(--font-bold);
  font-size: var(--font-rg);
}
nav .menu input {
  text-align: center;
  padding: var(--spacing-medium) 0;
}
nav .theme-toggle {
  display: flex;
  margin: 0 var(--spacing-medium);
  gap: var(--spacing-medium);
}
nav .theme-toggle button {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border: none;
  height: 1rem;
  width: 1rem;
  background-color: transparent;
}
nav .theme-toggle button:hover {
  box-shadow: 0 0 5px tomato;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(1) {
  border-radius: 50%;
  transition: box-shadow 0.45s;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(1):hover {
  box-shadow: inset 0 0 5px tomato, inset 0 0 10px tomato, 0 0 5px tomato, 0 0 10px tomato;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(1) button {
  background-color: tomato;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(2) {
  border-radius: 50%;
  transition: box-shadow 0.45s;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(2):hover {
  box-shadow: inset 0 0 5px lightyellow, inset 0 0 10px lightyellow, 0 0 5px lightyellow, 0 0 10px lightyellow;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(2) button {
  background-color: lightyellow;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(3) {
  border-radius: 50%;
  transition: box-shadow 0.45s;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(3):hover {
  box-shadow: inset 0 0 5px lightgreen, inset 0 0 10px lightgreen, 0 0 5px lightgreen, 0 0 10px lightgreen;
}
nav .theme-toggle .toggle-btn-wrapper:nth-child(3) button {
  background-color: lightgreen;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: var(--spacing-medium);
}

.container {
  display: grid;
  place-content: center;
  height: 90vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "current current" "hourly hourly" "fiveday fiveday" "feelslike humidity";
  width: 100%;
}
.container > article {
  text-align: center;
  border: 2px solid black;
  transition: background-color 0.45s;
}
.container > article:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.container > article div {
  font-size: var(--font-rg);
  font-weight: var(--font-semibold);
}
.container #current-forecast {
  grid-area: current;
}
.container #current-forecast .location {
  font-weight: var(--font-semibold);
  font-size: var(--font-lg);
}
.container #current-forecast .temp {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
}
.container #current-forecast .status {
  font-weight: var(--font-semibold);
  font-size: var(--font-rg);
}
.container #current-forecast .min-max-temp {
  font-weight: var(--font-semibold);
  font-size: var(--font-rg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #current-forecast .min-max-temp h4 {
  margin: 0 var(--spacing-medium);
}
.container #hourly-forecast {
  grid-area: hourly;
  padding: var(--spacing-medium);
}
.container #hourly-forecast .hourly-forecast-container {
  padding: var(--spacing-medium);
  display: flex;
  overflow-x: auto;
}
.container #hourly-forecast .hourly-forecast-container > article {
  padding: var(--spacing-medium);
  margin: var(--spacing-medium);
}
.container #hourly-forecast .hourly-forecast-container > article .icon {
  height: 50px;
  width: 50px;
}
.container #hourly-forecast .hourly-forecast-container::-webkit-scrollbar {
  visibility: hidden;
}
.container #fiveday-forecast {
  grid-area: fiveday;
}
.container #fiveday-forecast .fiveday-forecast-container article {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 var(--spacing-regular);
  gap: var(--spacing-regular);
}
.container #fiveday-forecast .fiveday-forecast-container article .day {
  padding: var(--spacing-regular);
  justify-self: start;
}
.container #fiveday-forecast .fiveday-forecast-container article .icon {
  height: 50px;
  width: 50px;
}
.container #fiveday-forecast .fiveday-forecast-container article .min-temp {
  opacity: 50%;
}
.container #feels-like {
  grid-area: feelslike;
}
.container #humidity {
  grid-area: humidity;
}

@media screen and (width > 650px) {
  body {
    width: 100vw;
  }
  nav {
    width: 100%;
  }
  nav .menu {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr 1.5fr);
  }
  nav .menu input {
    width: 400px;
  }
  .container {
    display: grid;
    width: 70%;
    grid-template-areas: "current current current current" "hourly hourly fiveday fiveday" "feelslike humidity fiveday fiveday";
  }
}/*# sourceMappingURL=index.css.map */