:root {
  --spacing-medium: 8px;
  --spacing-regular: 16px;

  --font-sm: 0.5rem;
  --font-rg: 1rem;
  --font-lg: 2rem;
  --font-xl: 4rem;

  --font-semibold: bold;
  --font-bold: bolder;

  --dark: linear-gradient(
    145deg,
    rgba(26, 26, 27, 1) 0%,
    rgba(72, 72, 83, 1) 50%,
    rgba(163, 176, 179, 1) 100%
  );
  --text-color: whitesmoke;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: consolas, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html {
  font-size: 70%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: rgb(26, 26, 27);
  color: var(--text-color);
}

.wave {
  display: none;
  width: 200%;
  position: absolute;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: wave ease-in-out 20s infinite alternate;
}

@keyframes wave {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

nav {
  width: 50%;
  height: 10vh;
  display: flex;
  padding: 0 var(--spacing-medium);
  align-items: center;
  justify-content: space-evenly;
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-regular);
    padding: 1rem;
    header h1 {
      font-weight: var(--font-bold);
      font-size: 1.6rem;
      letter-spacing: 4px;
      span {
        font-family: consolas;
        letter-spacing: 2px;
        font-size: 1.5rem;
        font-weight: var(--font-semibold);
      }
    }
    input {
      text-align: center;
      padding: var(--spacing-medium) 0;
    }
    .location-btn {
      background-color: transparent;
      border: none;
      outline: none;
      .location-icon {
        font-size: 1.2rem;
        color: whitesmoke;
        cursor: pointer;
        transition: font-size 0.45s;
        &:hover {
          font-size: 1.5rem;
        }
      }
    }
  }
  .theme-toggle {
    display: none;
    margin: 0 var(--spacing-medium);
    gap: var(--spacing-medium);
    button {
      clip-path: circle(50% at 50% 50%);
      border: none;
      height: 1rem;
      width: 1rem;
      background-color: transparent;
      &:hover {
        box-shadow: 0 0 5px tomato;
      }
    }
    .toggle-btn-wrapper:nth-child(1) {
      border-radius: 50%;
      transition: box-shadow 0.45s;
      &:hover {
        box-shadow: inset 0 0 5px tomato, inset 0 0 10px tomato, 0 0 5px tomato,
          0 0 10px tomato;
      }
      button {
        background-color: tomato;
      }
    }

    .toggle-btn-wrapper:nth-child(2) {
      border-radius: 50%;
      transition: box-shadow 0.45s;
      &:hover {
        box-shadow: inset 0 0 5px lightyellow, inset 0 0 10px lightyellow,
          0 0 5px lightyellow, 0 0 10px lightyellow;
      }
      button {
        background-color: lightyellow;
      }
    }
    .toggle-btn-wrapper:nth-child(3) {
      border-radius: 50%;
      transition: box-shadow 0.45s;
      &:hover {
        box-shadow: inset 0 0 5px lightgreen, inset 0 0 10px lightgreen,
          0 0 5px lightgreen, 0 0 10px lightgreen;
      }
      button {
        background-color: lightgreen;
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: var(--spacing-medium);
}

.container {
  opacity: 0%;
  transition: opacity 0.45s;
  display: grid;
  place-content: center;
  width: 80%;
  overflow: hidden;
  height: 90vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
  width: 100%;
  & > article {
    text-align: center;
    box-shadow: 2px solid var(--dark);
    padding: var(--spacing-regular);
    transition: background-color 0.45s;
    &:hover {
      background-color: rgba(200, 200, 200, 0.25);
    }
    div {
      font-size: var(--font-rg);
      font-weight: var(--font-semibold);
    }
  }
  #current-forecast {
    grid-area: current;
    .location {
      font-weight: var(--font-semibold);
      font-size: var(--font-lg);
    }
    .temp {
      font-weight: var(--font-bold);
      font-size: var(--font-xl);
    }
    .status {
      font-weight: var(--font-semibold);
      font-size: var(--font-rg);
    }
    .min-max-temp {
      font-weight: var(--font-semibold);
      font-size: var(--font-rg);
      display: flex;
      justify-content: center;
      align-items: center;
      h4 {
        margin: 0 var(--spacing-medium);
      }
    }
  }
  #hourly-forecast {
    grid-area: hourly;
    padding: var(--spacing-medium);
    .hourly-forecast-container {
      padding: var(--spacing-medium);
      display: flex;
      overflow-x: scroll;
      & > article {
        padding: var(--spacing-medium);
        .icon {
          height: 50px;
          width: 50px;
        }
      }
      &::-webkit-scrollbar {
        visibility: hidden;
      }
    }
  }
  #fiveday-forecast {
    grid-area: fiveday;
    .fiveday-forecast-container {
      article {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 var(--spacing-regular);
        gap: var(--spacing-regular);
        .day {
          padding: var(--spacing-regular);
          justify-self: start;
        }
        .icon {
          height: 50px;
          width: 50px;
        }
        .min-temp {
          opacity: 50%;
        }
      }
    }
  }
  #feels-like {
    grid-area: feelslike;
  }
  #humidity {
    grid-area: humidity;
  }
}

#loader {
  position: absolute;
  top: 50%;
  opacity: 50%;
  border: 6px solid whitesmoke;
  border-top: 6px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes motion {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media screen and (width > 1200px) {
  html {
    font-size: 80%;
  }

  body {
    width: 100vw;
  }

  nav {
    width: 50%;
    .menu {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 0.5fr 1.5fr);
      input {
        width: 400px;
      }
    }
  }

  body {
    .wave {
      display: block;
    }
    .theme-toggle {
      display: flex;
    }
  }

  .container {
    display: grid;
    width: 70%;
    grid-template-areas:
      "current current current current"
      "hourly hourly fiveday fiveday"
      "feelslike humidity fiveday fiveday";
  }
}
